<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Help Page</title>
</head>
<body>
<h1>Help Page</h1>
{{> header}}
<p>You can only help yourself!</p>
<p>{{getCuurentYear}}</p>
<p>{{screamIt message}}
{{> footer}}
</body>
</html>